:root {
    --text-color: #f9f9f9;
    --button-color: #505050;
    --background-color: #181818;
}
body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h4 {
    margin: 30px auto;
}





.calculator {
    width: 350px;
    height: 500px;
    background-color: var(--background-color);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "display display display display"
        "add subtract multiply divide"
        "seven eight nine clear"
        "four five six backspace"
        "one two three equals"
        "zero zero decimal equals";
    place-items: stretch;
    gap: 10px;

    padding: 40px;
    border-radius: 40px;
    margin: 0 auto;
}
.calculator > * {
    font-weight: bold;
    font-size: 1.75em;

    color: var(--text-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
}





/* special colors */
.display {
    color: black;
    background-color: #dcf7fa;
    text-align: right;
}
.add, .subtract, .multiply, .divide {
    background-color: #fd6f4f;
}
.clear, .backspace, .equals {
    background-color: #ff8400;
}